        /*--Base styling----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-size: 0.875rem;
    max-width: 100%;
}

.navigation {
    margin:1rem;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: inline;
    padding: 5px;
}

img {
    max-width: 100%;
}

header,
.main-nav {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color:  hsl(216, 53%, 9%);
}

header,
.intro-section,
.email-sign-up {
    background-color: hsl(217, 28%, 15%);
}

.testimonials {
    background-color: hsl(219, 30%, 18%);
}


        /*--Typography----------*/

.fylo-logo-header {
    transform: scale(.60);
    padding: 1em 0 1em .25em;
    margin: 1em 0 1em .25em;
    overflow:none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.intro-section {
    padding-bottom: 1em;
}

.intro-section h1, 
.intro-section p {
    text-align: center;
}

.button1 {
    color: white;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-family: inherit;
    border: 0;
    padding: .25em;
    width: 70%;
    height: 5em;
    font-weight: bold;
    border-radius: 100px;
}

.button1:hover {
    background-image: linear-gradient(to right, hsl(176, 94%, 74%), hsl(198, 100%, 67%));
    transform: scale(1.02);
}

.div-button1 {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.features-section img {
    max-width: 85px;
    margin: 2em;
}

.features-section p {
    text-align: center;
}




        /*--Media Queries----------*/

@media (min-width:375px) {

}

@media (min-width: 1440px) {

}