        /*--Base styling----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-size: 0.875rem;
    max-width: 100%;
}

.navigation {
    margin:1rem;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    display: inline;
    padding: 5px;
}

img {
    max-width: 100%;
}

header,
.main-nav {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color:  hsl(216, 53%, 9%);
    padding-top: 15rem;
}

header,
.intro-section,
.email-sign-up {
    background-color: hsl(217, 28%, 15%);
    width: 100%;
    text-align: center;
}

        /*--Typography----------*/

.fylo-logo-header {
    transform: scale(.60);
    padding: 1em 0 1em .25em;
    margin: 1em 0 1em .25em;
    overflow:none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation a:hover,
.footer-nav1 ul a:hover,
.footer-nav2 ul a:hover  {
    font-weight: 700;
    text-decoration: underline;
}

.intro-section {
    padding: 2em;
}

.intro-img,
.productivity-img {
    display: block;
    margin: 0 auto;
}

.button1 {
    color: white;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-family: inherit;
    border: 0;
    padding: .25em;
    width: 70%;
    height: 3.5em;
    font-weight: bold;
    border-radius: 100px;
    font-size: 1.1em;
    margin-top: 1em;
}

.button1:hover,
.button2:hover {
    background-image: linear-gradient(to right, hsl(176, 94%, 74%), hsl(198, 100%, 67%));
    transform: scale(1.02);
}

.div-button1 {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.features-section,
.stay-productive-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-align: center;
}

.features-section img {
    max-width: 85px;
    margin: 2em;
}

.features-section p {
    text-align: center;
    margin-bottom: 4em;
}

.stay-productive-section h2,
p,
.see-how-fylo-works {
    padding: .4em;
}

.stay-productive-section p {
    text-align: left;
}

.stay-productive-section .see-how-fylo-works {
    color:hsl(198, 100%, 67%);
    text-align: left;
    align-self: flex-start;
    border-bottom: 2px solid hsl(198, 100%, 67%);
    padding-bottom: 7px;
}

.see-how-fylo-works:hover {
    color: hsl(176, 94%, 74%);
    transform: scale(1.07);
}

.testimonials {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 325px;
    margin-top: 150px;
}


.satish-block,
.bruce-block,
.iva-block {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: hsl(219, 30%, 18%);
    padding: 1.5em;
    border-radius: 10px;
    box-shadow:0 0 10px 8px hsl(217, 28%, 15%);
    line-height: 1.8;
}

.satish-block img,
.bruce-block img,
.iva-block img {
    border-radius:100px;
    display: block;
    height: 40px;
    float: left;
    margin-right: 1rem;
}

.satish-block h3,
.bruce-block h3,
.iva-block h3,
.testimonial-p{
    padding: 0 0 0 1rem;
    text-align: left;
    font-size: .9em;
}


.email-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 8px hsl(225, 10%, 8%);
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    top: 3425px;
    left: 5%;
}

.email-sign-up h2,
.email-sign-up p {
    margin: .8em;
}

input {
    display: block;
}

input::placeholder {
    color: rgb(192, 192, 192);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: .75em;
}

.button2 {
    color: white;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-family: inherit;
    border: 0;
    padding: .25em;
    width: 90%;
    height: 3.5em;
    font-weight: bold;
    border-radius: 100px;
    font-size: 1.1em;
    margin-top: 1em;
}

#email {
    color: hsl(216, 53%, 9%);
    font-family: inherit;
    border: 0;
    padding: .25em;
    width: 90%;
    height: 3.5em;
    font-weight: bold;
    border-radius: 100px;
    font-size: 1.1em;
    margin-top: 1em;
    text-align: center;
}

#email:hover {
    transform: scale(1.02);
}

#email:focus {
    border:hsl(198, 60%, 50%) solid 2px;
    outline: none;
    transform: scale(1);
}

.fylo-logo-footer {
    display: block;
    margin: 0 0 2em 2em
}

.icon-location, 
.icon-phone,
.icon-email {
    display: flex;
    align-items: center;
}

.contact-info img {
    margin: 25px;
}

.footer-nav1 {
    margin-top: 2rem;
}

.footer-nav1,
.footer-nav2 {
    height: 150px;
}

.footer-nav1 ul,
.footer-nav2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-left: 25px;
}

i {
    font-size: 25px;
    background-color: hsl(216, 53%, 9%);
}

.social-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 0 150px;
}

.social-icons a:hover {
    color: hsl(198, 60%, 50%);
}

.attribution {
    text-align: center;
    margin-top: 50px;
}
        /*--Media Queries----------*/

@media (min-width:375px) {

}

@media (min-width: 1440px) {

}