        /*--Base styling----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 13%);
    color: white;
    font-size: 0.875rem;
}

header,
.main-nav {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color:  hsl(216, 53%, 9%);
}

header,
.intro-section,
.email-sign-up {
    background-color: hsl(217, 28%, 15%);
}

.testimonials {
    background-color: hsl(219, 30%, 18%);
}